name: Release and Publish wheel package

on:
  push:
    tags:
      - "*"

  workflow_dispatch:

permissions:
  contents: write # Grants write permission for the GITHUB_TOKEN

jobs:
  build_wheel:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3

      - name: Install dependecies
        run: |
          python -m pip install -U pip wheel setuptools build twine

      - name: Build wheel package
        run: python -m build

      - name: Release wheel package
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*.whl
          generate_release_notes: true

      - name: Upload artifact to action
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - build_wheel
    permissions:
      id-token: write

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1